<h1>Topics</h1>
<%= link_to "New Topic", new_topic_path, class: 'btn btn-success' %>
<div class="row">
  <div class="col-md-8">
    <% @topics.each do |topic| %>
    <div class="media">
      <div class="media-body">
        <h4 class="media-heading">
          <%= link_to topic.title, topic %>
          <div class="bookmark_box">
            <% topic.bookmarks.each do |book| %>
            <%= book.url %>
            <% end %>
          </div>
        </div>
      </h4>
    </div>
  </div>
  <% end %>
</div>
</div>
